In [1]:
import os as os

In [2]:
#setting the working directory
os.chdir("C:\\Users\\parents\\Desktop\\upx python files\\Data Sets\\attachment_Project_Datasets")

In [3]:
#importing relevant libraries

import pandas as pd
import sklearn
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
from numpy import array
from numpy import arange

In [5]:
# OBSERVATION 1 : the filr was read , but data points are not alligned to their respective column heads.
# taking corrective action using the argument  'sep' and seperating the column usint the noted seperator ,for this dataset it was the pantuation mark ';'
# renaming the original read "wine_ori_ds" to 'wine_ds2"


wine_ds2 =pd.read_csv('winequality.csv', sep=';')

In [6]:
wine_ds2.describe().T

,count,mean,std,min,25%,50%,75%,max
fixed acidity,1599.0,8.319637,1.741096,4.60000,7.1000,7.90000,9.200000,15.90000
volatile acidity,1599.0,0.527821,0.179060,0.12000,0.3900,0.52000,0.640000,1.58000
citric acid,1599.0,0.270976,0.194801,0.00000,0.0900,0.26000,0.420000,1.00000
residual sugar,1599.0,2.538806,1.409928,0.90000,1.9000,2.20000,2.600000,15.50000
chlorides,1599.0,0.087467,0.047065,0.01200,0.0700,0.07900,0.090000,0.61100
free sulfur dioxide,1599.0,15.874922,10.460157,1.00000,7.0000,14.00000,21.000000,72.00000
total sulfur dioxide,1599.0,46.467792,32.895324,6.00000,22.0000,38.00000,62.000000,289.00000
density,1599.0,0.996747,0.001887,0.99007,0.9956,0.99675,0.997835,1.00369
pH,1599.0,3.311113,0.154386,2.74000,3.2100,3.31000,3.400000,4.01000
sulphates,1599.0,0.658149,0.169507,0.33000,0.5500,0.62000,0.730000,2.00000
alcohol,1599.0,10.422983,1.065668,8.40000,9.5000,10.20000,11.100000,14.90000
quality,1599.0,5.636023,0.807569,3.00000,5.0000,6.00000,6.000000,8.00000

In [7]:
wine_ds2.shape

(1599, 12)

In [8]:
wine_ds2.head() # getting an overview of of nmber types.

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [9]:
# classifying variables for Taste: Sweet, Salty and Sour

In [10]:
# Convert the dictionary into DataFrame 
wine_df = pd.DataFrame(wine_ds2) 
   
# Before renaming the columns 
print(wine_df.columns)

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [11]:
wine_df.rename(columns = {'residual sugar':'Sweetness', 'chlorides':'Salty', 
                              'density':'Density'}, inplace = True)

In [12]:
from sklearn import preprocessing

In [13]:
#OBSEVATION : Variables that contribute to Sourness are pH,fixed acidity', 'volatile acidity' and 'citric acid'
# Normalize Variabled that contribute to Sourness,INDIVIDUALLY 
#Adding the normanlied vvarable

In [14]:
wine_df.head()

,fixed acidity,volatile acidity,citric acid,Sweetness,Salty,free sulfur dioxide,total sulfur dioxide,Density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [15]:
#data["concavity_mean"]=((data["concavity_mean"]-data["concavity_mean"].min())/(data["concavity_mean"].max()-data["concavity_mean"].min()))*20

wine_df["pH"]=((wine_df["pH"]-wine_df["pH"].min())/(wine_df["pH"].max()-wine_df["pH"].min()))*1

In [16]:
wine_df.head()

,fixed acidity,volatile acidity,citric acid,Sweetness,Salty,free sulfur dioxide,total sulfur dioxide,Density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,0.606299,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,0.362205,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,0.409449,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,0.330709,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,0.606299,0.56,9.4,5

In [17]:
wine_df["fixed acidity"]=((wine_df["fixed acidity"]-wine_df["fixed acidity"].min())/(wine_df["fixed acidity"].max()-wine_df["fixed acidity"].min()))*1

In [18]:
wine_df.head()

,fixed acidity,volatile acidity,citric acid,Sweetness,Salty,free sulfur dioxide,total sulfur dioxide,Density,pH,sulphates,alcohol,quality
0,0.247788,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,0.606299,0.56,9.4,5
1,0.283186,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,0.362205,0.68,9.8,5
2,0.283186,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,0.409449,0.65,9.8,5
3,0.584071,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,0.330709,0.58,9.8,6
4,0.247788,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,0.606299,0.56,9.4,5

In [19]:
wine_df["volatile acidity"]=((wine_df["volatile acidity"]-wine_df["volatile acidity"].min())/(wine_df["volatile acidity"].max()-wine_df["volatile acidity"].min()))*1

In [20]:
wine_df.head()

,fixed acidity,volatile acidity,citric acid,Sweetness,Salty,free sulfur dioxide,total sulfur dioxide,Density,pH,sulphates,alcohol,quality
0,0.247788,0.397260,0.00,1.9,0.076,11.0,34.0,0.9978,0.606299,0.56,9.4,5
1,0.283186,0.520548,0.00,2.6,0.098,25.0,67.0,0.9968,0.362205,0.68,9.8,5
2,0.283186,0.438356,0.04,2.3,0.092,15.0,54.0,0.9970,0.409449,0.65,9.8,5
3,0.584071,0.109589,0.56,1.9,0.075,17.0,60.0,0.9980,0.330709,0.58,9.8,6
4,0.247788,0.397260,0.00,1.9,0.076,11.0,34.0,0.9978,0.606299,0.56,9.4,5

In [21]:
wine_df["citric acid"]=((wine_df["citric acid"]-wine_df["citric acid"].min())/(wine_df["citric acid"].max()-wine_df["citric acid"].min()))*1

In [22]:
wine_df.head()

,fixed acidity,volatile acidity,citric acid,Sweetness,Salty,free sulfur dioxide,total sulfur dioxide,Density,pH,sulphates,alcohol,quality
0,0.247788,0.397260,0.00,1.9,0.076,11.0,34.0,0.9978,0.606299,0.56,9.4,5
1,0.283186,0.520548,0.00,2.6,0.098,25.0,67.0,0.9968,0.362205,0.68,9.8,5
2,0.283186,0.438356,0.04,2.3,0.092,15.0,54.0,0.9970,0.409449,0.65,9.8,5
3,0.584071,0.109589,0.56,1.9,0.075,17.0,60.0,0.9980,0.330709,0.58,9.8,6
4,0.247788,0.397260,0.00,1.9,0.076,11.0,34.0,0.9978,0.606299,0.56,9.4,5

In [23]:
# adding all values of acidity and pH to get a single indicator for sourness
#drop column named 'Sourness" is a  summation of nomalised values of all variables that conibute to 'sour taste'

In [24]:
Sourness=wine_df['fixed acidity']+ wine_df['volatile acidity']+wine_df['citric acid']+wine_df['pH']
wine_df['Sourness']=Sourness

In [25]:
wine_df.head()

,fixed acidity,volatile acidity,citric acid,Sweetness,Salty,free sulfur dioxide,total sulfur dioxide,Density,pH,sulphates,alcohol,quality,Sourness
0,0.247788,0.397260,0.00,1.9,0.076,11.0,34.0,0.9978,0.606299,0.56,9.4,5,1.251347
1,0.283186,0.520548,0.00,2.6,0.098,25.0,67.0,0.9968,0.362205,0.68,9.8,5,1.165939
2,0.283186,0.438356,0.04,2.3,0.092,15.0,54.0,0.9970,0.409449,0.65,9.8,5,1.170991
3,0.584071,0.109589,0.56,1.9,0.075,17.0,60.0,0.9980,0.330709,0.58,9.8,6,1.584368
4,0.247788,0.397260,0.00,1.9,0.076,11.0,34.0,0.9978,0.606299,0.56,9.4,5,1.251347

In [26]:
wine_df.drop(['fixed acidity', 'volatile acidity', 'citric acid','pH'], axis=1, inplace=True)

In [27]:
wine_df.head()

,Sweetness,Salty,free sulfur dioxide,total sulfur dioxide,Density,sulphates,alcohol,quality,Sourness
0,1.9,0.076,11.0,34.0,0.9978,0.56,9.4,5,1.251347
1,2.6,0.098,25.0,67.0,0.9968,0.68,9.8,5,1.165939
2,2.3,0.092,15.0,54.0,0.9970,0.65,9.8,5,1.170991
3,1.9,0.075,17.0,60.0,0.9980,0.58,9.8,6,1.584368
4,1.9,0.076,11.0,34.0,0.9978,0.56,9.4,5,1.251347

In [28]:
wine_df["free sulfur dioxide"]=((wine_df["free sulfur dioxide"]-wine_df["free sulfur dioxide"].min())/(wine_df["free sulfur dioxide"].max()-wine_df["free sulfur dioxide"].min()))*1
wine_df["total sulfur dioxide"]=((wine_df["total sulfur dioxide"]-wine_df["total sulfur dioxide"].min())/(wine_df["total sulfur dioxide"].max()-wine_df["total sulfur dioxide"].min()))*1
wine_df["sulphates"]=((wine_df["sulphates"]-wine_df["sulphates"].min())/(wine_df["sulphates"].max()-wine_df["sulphates"].min()))*1

In [29]:
wine_df.head()

,Sweetness,Salty,free sulfur dioxide,total sulfur dioxide,Density,sulphates,alcohol,quality,Sourness
0,1.9,0.076,0.140845,0.098940,0.9978,0.137725,9.4,5,1.251347
1,2.6,0.098,0.338028,0.215548,0.9968,0.209581,9.8,5,1.165939
2,2.3,0.092,0.197183,0.169611,0.9970,0.191617,9.8,5,1.170991
3,1.9,0.075,0.225352,0.190813,0.9980,0.149701,9.8,6,1.584368
4,1.9,0.076,0.140845,0.098940,0.9978,0.137725,9.4,5,1.251347

In [30]:
Odour=wine_df['free sulfur dioxide']+ wine_df['total sulfur dioxide']+wine_df['sulphates']
wine_df['Odour']=Odour

In [31]:
wine_df.head()

,Sweetness,Salty,free sulfur dioxide,total sulfur dioxide,Density,sulphates,alcohol,quality,Sourness,Odour
0,1.9,0.076,0.140845,0.098940,0.9978,0.137725,9.4,5,1.251347,0.377510
1,2.6,0.098,0.338028,0.215548,0.9968,0.209581,9.8,5,1.165939,0.763157
2,2.3,0.092,0.197183,0.169611,0.9970,0.191617,9.8,5,1.170991,0.558411
3,1.9,0.075,0.225352,0.190813,0.9980,0.149701,9.8,6,1.584368,0.565865
4,1.9,0.076,0.140845,0.098940,0.9978,0.137725,9.4,5,1.251347,0.377510

In [32]:
wine_df.drop(['total sulfur dioxide','free sulfur dioxide','sulphates'],axis=1, inplace=True)
wine_df.head()

   Sweetness  Salty  Density  alcohol  quality  Sourness     Odour
0        1.9  0.076   0.9978      9.4        5  1.251347  0.377510
1        2.6  0.098   0.9968      9.8        5  1.165939  0.763157
2        2.3  0.092   0.9970      9.8        5  1.170991  0.558411
3        1.9  0.075   0.9980      9.8        6  1.584368  0.565865
4        1.9  0.076   0.9978      9.4        5  1.251347  0.377510

In [33]:
wine_df.rename(columns = {'residual sugar':'Sweetness', 'chlorides':'Salty', 
                              'density':'Density', 'alcohol':'Alcohol','quality':'Quality'}, inplace = True)
wine_df.head()

   Sweetness  Salty  Density  Alcohol  Quality  Sourness     Odour
0        1.9  0.076   0.9978      9.4        5  1.251347  0.377510
1        2.6  0.098   0.9968      9.8        5  1.165939  0.763157
2        2.3  0.092   0.9970      9.8        5  1.170991  0.558411
3        1.9  0.075   0.9980      9.8        6  1.584368  0.565865
4        1.9  0.076   0.9978      9.4        5  1.251347  0.377510

In [34]:
wine_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Sweetness,1599.0,2.538806,1.409928,0.900000,1.900000,2.200000,2.600000,15.500000
Salty,1599.0,0.087467,0.047065,0.012000,0.070000,0.079000,0.090000,0.611000
Density,1599.0,0.996747,0.001887,0.990070,0.995600,0.996750,0.997835,1.003690
Alcohol,1599.0,10.422983,1.065668,8.400000,9.500000,10.200000,11.100000,14.900000
Quality,1599.0,5.636023,0.807569,3.000000,5.000000,6.000000,6.000000,8.000000
Sourness,1599.0,1.329172,0.226946,0.735881,1.174367,1.294442,1.460860,2.285792
Odour,1599.0,0.548998,0.266354,0.049321,0.345511,0.496487,0.713773,1.697029

In [35]:
wine_df["Sweetness"]=((wine_df["Sweetness"]-wine_df["Sweetness"].min())/(wine_df["Sweetness"].max()-wine_df["Sweetness"].min()))*1
wine_df["Alcohol"]=((wine_df["Alcohol"]-wine_df["Alcohol"].min())/(wine_df["Alcohol"].max()-wine_df["Alcohol"].min()))*1
wine_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Sweetness,1599.0,0.112247,0.096570,0.000000,0.068493,0.089041,0.116438,1.000000
Salty,1599.0,0.087467,0.047065,0.012000,0.070000,0.079000,0.090000,0.611000
Density,1599.0,0.996747,0.001887,0.990070,0.995600,0.996750,0.997835,1.003690
Alcohol,1599.0,0.311228,0.163949,0.000000,0.169231,0.276923,0.415385,1.000000
Quality,1599.0,5.636023,0.807569,3.000000,5.000000,6.000000,6.000000,8.000000
Sourness,1599.0,1.329172,0.226946,0.735881,1.174367,1.294442,1.460860,2.285792
Odour,1599.0,0.548998,0.266354,0.049321,0.345511,0.496487,0.713773,1.697029

In [36]:
#import pandas_profiling

In [37]:
#wine_df.profile_report(style={'full_width':True})
#wine_eda_norm = wine_ds2.profile_report(title='wine Normalised Profiling Report')
#wine_eda_norm.to_file(output_file= "wine_eda_norm.html")

In [38]:
wine_pivot=pd.pivot_table(wine_df,index=['Quality'])
# representing averages of each variable

In [39]:
wine_pivot

          Alcohol   Density     Odour     Salty  Sourness  Sweetness
Quality
3        0.239231  0.997464  0.351342  0.122500  1.545484   0.118836
4        0.286938  0.996542  0.425054  0.090679  1.353750   0.122900
5        0.230724  0.997104  0.577852  0.092736  1.317255   0.111565
6        0.343003  0.996615  0.537205  0.084956  1.319159   0.108027
7        0.471679  0.996104  0.532541  0.076588  1.381391   0.124699
8        0.568376  0.995212  0.532046  0.068444  1.365042   0.114916

In [40]:
wine_pivot3=pd.pivot_table(wine_df,columns='Quality', 
                           values=['Alcohol','Density','Odour' ,'Salty','Sourness', 'Sweetness'])
wine_pivot3

Quality           3         4         5         6         7         8
Alcohol    0.239231  0.286938  0.230724  0.343003  0.471679  0.568376
Density    0.997464  0.996542  0.997104  0.996615  0.996104  0.995212
Odour      0.351342  0.425054  0.577852  0.537205  0.532541  0.532046
Salty      0.122500  0.090679  0.092736  0.084956  0.076588  0.068444
Sourness   1.545484  1.353750  1.317255  1.319159  1.381391  1.365042
Sweetness  0.118836  0.122900  0.111565  0.108027  0.124699  0.114916

In [41]:
#wine_pivot1=pd.pivot_table(wine_df,index=['Quality','Odour'])
#wine_pivot1

In [42]:
#!pip install plotly

In [43]:
import plotly.graph_objs as go

In [44]:
import plotly.offline as pyo

In [54]:
traces0= go.Scatter(
        x= wine_pivot.index,
        y= wine_pivot.Alcohol,
        name = 'Alcohol')


traces5= go.Scatter(
        x= wine_pivot.index,
        y= wine_pivot.Sweetness,
        name= 'Sweetness',
        mode= 'markers+lines'

)

In [66]:
traces0= go.Bar(
        x= wine_pivot.index,
        y= wine_pivot.Alcohol,
        name = 'Alcohol')

traces1= go.Bar(
        x= wine_pivot.index,
        y= wine_pivot.Density,
        name= 'Density')


traces2= go.Scatter(
        x= wine_pivot.index,
        y= wine_pivot.Odour,
        name= 'Odour')

traces3= go.Scatter(
        x= wine_pivot.index,
        y= wine_pivot.Salty,
        name= 'Salty')


traces4= go.Scatter(
        x= wine_pivot.index,
        y= wine_pivot.Sourness,
        name= 'Sourness')

traces5 = go.Scatter(
        x= wine_pivot.index,
        y= wine_pivot.Sweetness,
        name= 'Sweetness',
        mode= 'markers+lines'
)

In [67]:
#data_bar= [Alcohol , Density, Odour,Salty, Sourness,Sweetness]

In [68]:
#wine_gbar= [Alcohol , Density, Odour,Salty, Sourness,Sweetness]

In [69]:
data = [traces0,traces1,traces2,traces3,traces4,traces5]

In [ ]:
#data1 = [traces0,traces5_1]

In [70]:
layout= go.Layout(title='Wine Quality Variables: Alcohol  Vs Variables ')

In [71]:
figure =go.Figure (data= data, layout= layout)

In [72]:
pyo.plot(figure)

'temp-plot.html'

In [ ]:
#figure 2= (data= data1, layout= layout)